<form>
    <h1>Bejelentkezés</h1>
      <div class="inputGroup inputGroup1">
          <mat-form-field class="matInputText">
              <input matInput placeholder="Felhasználónév" name="uname">
            </mat-form-field>
        </div>
        <div class="inputGroup inputGroup2">
            <mat-form-field class="matInputText"> 
                <input matInput placeholder="Jelszó" name="password">
            </mat-form-field>
        </div>
        <div class="inputGroup inputGroup3">
            <button mat-raised-button color="basic" class="submit">Bejelentkezés</button>
        </div>
        <div class="inputGroup inputGroup4">
            <button mat-button>Elfelejtetted a  jelszavad?</button>
        </div>
        <span layout="row"><hr flex/></span>
        <div class="inputGroup inputGroup4">
            <button mat-button>Regisztráció</button>
        </div>
  </form>